.overflow_hidden {
    overflow: hidden;
}

.wrapper {
    width: 100%;
}
//.header__additional {}
.additional {
    background: #F7F4F0;
    width: 100%;
}
.container {
    max-width: 1270px;
    padding: 0 20px;
    margin: 0 auto;
}
.additional__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 14px 0;
}
.additional__contacts {
    flex: 1 1 402px;
    max-width: 402px;
    display: flex;
    justify-content: space-between;
}
.contacts__telefon{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #594E4B;
    padding-left: 16px;
    background: url(../img/icons/icon-telefon.svg) no-repeat left;
}
.contacts__email{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #594E4B;
    padding-left: 20px;
    background: url(../img/icons/icon-email.svg) no-repeat left;
}
.additional__social {
    flex: 1 1 145px;
    max-width: 145px;
    display: flex;
    justify-content: space-between;
}
//.social__link {}
.additional__map {
    flex: 1 1 370px;
    max-width: 370px;
    display: flex;
    justify-content: space-between;
}
.map__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #594E4B;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 85px;
        background: #FFFFFF;
        z-index: 1;
    }
}
.header__body {
    position: relative;
    z-index: 2;
    padding: 12px 0 16px 0;
    display: flex;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    flex: 1 1 310px;
    max-width: 470px;
}
.logo__link {
    margin-right: 9px;
}
.logo__text {
    align-self: flex-end;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2B1817;
}
.header__burger {
    display: none;
}
.menu__container {
    flex: 1 1 auto;
}
.header__map {
    display: none;
}
//.header__menu {}
.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #140605;
    &:hover{
        color: #A23228;
    }
}
.selected{
    color: #A09999;
}
.list__item {
    position: relative;
    display: flex;
    align-items: center;
    & a{
        margin-right: 8px;
    }
}
.list__item.hover{
    & div:nth-child(2){
        opacity: 1;
        visibility: visible;
    }
    & .header__link{
        color: #A23228;
    }
    & .link__arrow{
        background: url(../img/icons/icon-arrow-active-under-menu.svg) no-repeat center center;
    }
    &::after{
        content: '';
        position: absolute;
        width: 82px;
        height: 3px;
        bottom: -31px;
        left: 0;
        background-color: #A23228;
    }
}
.item__wrapper{
    display: flex;
    align-items: center;
}
.link__line {
    height: 12px;
    width: 1px;
    background: #3E3332;
    display: block;
}
.link__arrow {
    display: block;
    position: relative;
    left: -1px;
    width: 27px;
    height: 27px;
    background: url(../img/icons/icon-arrow-down-black.svg) no-repeat center center;
    &:hover{
        background-color: #594E4B;
        background-image: url(../img/icons/icon-arrow-down-white.svg);
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 2px;
    }
}

.menu-extra__container {
    transition: all 0.3s ease-in-out;
    display: flex;
    position: absolute;
    width: 827px;
    top: 58px;
    left: -285px;
    background: #FDFCFB;
    border-radius: 2px;
    padding: 24px 24px 32px 32px;

    visibility: hidden;
    opacity: 0;
}
.menu-extra__block {
    margin-right: 40px;
    &:last-child{
        margin: 0;
    }
}
.menu-extra__link {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #140605;
    margin-bottom: 24px;
    &:last-child{
        margin: 0;
    }
}
.menu-extra__media{
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 58px;
    left: -40px;
    background: #FDFCFB;
    border-radius: 2px;
    padding: 24px 24px 32px 32px;

    visibility: hidden;
    opacity: 0;
}
.menu-extra__media.hover{
    visibility: visible;
    opacity: 1;
}
.menu-mobile__container {
    display: none;
}
.menu-mobile__block {
    display: none;
}
.enter__block {
    display: none;
}
//.enter__item {}
.enter__link {
    display: block;
    width: 57px;
    height: 57px;
    background: url(../img/enter__backgound.svg), linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
    border-radius: 2px;
}
//.list__item-enter {}
.header__contacts {
    display: none;
}
.header__social {
    display: none;
}

@media (max-width: 1300px) {
    .container{
        max-width: 1140px;
        padding: 0;
    }
}
@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}
@media (max-width: 992px) {
    header{
        .container{
            max-width: none;
            padding: 0 20px;
        }
    }
    .header__additional {
        display: none;
    }
    .header {
        position: fixed;
    }
    .header__body {
        justify-content: space-between;
    }
    .header__logo {
        flex: 0 1 auto;
        max-width: 100%;
        position: relative;
        z-index: 2;
    }
    .header__burger {
        display: block;
        width: 36px;
        height: 24px;
        z-index: 2;
        position: relative;
        &::after,
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #140605;
            left: 0;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        & span{
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background: #140605;
            left: 0;
            top: 10px;
        }
    }
    .header__burger.active{
        &::before{
            opacity: 0;
            visibility: hidden;
        }
        &::after{
            transition: all 0.3s ease-in-out;
            transform: rotate(45deg);
            top: 10px;
        }
        & span{
            transition: all 0.3s ease-in-out;
            transform: rotate(-45deg);
            bottom: 0;
        }
    }
    .menu__container{
        display: none;
    }
    .menu__container.active {
        position: fixed;
        overflow-x: auto;
        top: 0;
        right: 0;
        width: 360px;
        height: 100%;
        padding: 60px 24px 32px 24px;
        background: #F7F4F0;
        display: flex;
        flex-direction: column;
    }
    .header__map {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .map__link{
            display: block;
            margin-bottom: 40px;
        }
        & .map__link:last-child{
            margin-bottom: 69px;
        }
    }
    .header__menu {
        flex: 1 1 auto;
        margin-bottom: 80px;
    }
    .header__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        & li{
            margin-bottom: 40px;
        }
        & li:last-child{
            display: none;
        }
    }
    .selected{
        color: initial;
    }
    .list__item {
        align-items: flex-start;
        flex-direction: column;
    }
    .link__line {
        display: none;
    }
    .link__arrow {
        display: block;
        position: static;
        width: 24px;
        height: 24px;
        background: url(../img/icons/icon-arrow-down-white.svg), #594E4B;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 2px;
    }
    .menu-extra__container {
        display: none;
    }
    .menu-extra__link {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .menu-extra__media{
        display: none;
    }
    .menu-mobile__container {
        display: none;
        background: #A23228;
        border-radius: 2px;
        position: relative;
        z-index: 7;
        & div{
            display: flex;
            padding: 8px;
            justify-content: space-between;
        }
        & div:nth-child(even){
            background: rgba(255, 255, 255, 0.1);
        }
        & div a{
            width: 100%;
            margin-right: 20px;
            padding: 5px 5px;
            display: block;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }
    .menu-mobile__block {
        display: none;
        background: #A23228;
        padding: 11px 8px 16px 8px;
        border-radius: 2px;
        & a{
            display: block;
        }
    }
    .list__item.hover{
        & div:nth-child(3){
            display: block;
        }
        &::after{
            display: none;
        }
        & .link__arrow{
            width: 24px;
            height: 24px;
            background: url(../img/icons/icon-arrow-down-white.svg), #A23228;
            transform: rotate(180deg);
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 2px 2px 0px 0px;
        }
    }
    .enter__block {
        display: flex;
        align-items: center;
    }
    .enter__item {
        display: inline-block;
        width: 51px;
        height: 51px;
        background: url(../img/enter__backgound.svg), linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
        border-radius: 2px;
        margin-right: 8px;
    }
    .list__item-enter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .header__contacts {
        display: flex;
        flex-direction: column;
        & a{
            display: block;
            margin-bottom: 40px;
        }
    }
    .header__social {
        display: flex;
        align-items: center;
        & .social__link{
            display: block;
            margin-right: 32px;
        }
        & .social__link:last-child{
            margin-right: 0;
        }
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    .header{
        &::before{
            height: 45px;
            background: #F7F4F0;
        }
    }
    .header__body{
        padding: 9px 0 12px 0;
        position: static;
        z-index: 0;
    }
    .logo__link{
        display: block;
        width: 64px;
        height: 25px;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    .logo__text{
        font-size: 12px;
        line-height: 110%;
        color: #594E4B;
    }
    .header__logo{
        position: relative;
        z-index: 2;
    }
    .header__burger{
        width: 24px;
        height: 16px;
        z-index: 2;
        &::before,
        &::after{
            height: 2px;
        }
        & span{
            height: 2px;
            top: 7px;
        }
    }
    .header__burger.active{
        &::after{
            top: 8px;
        }
    }
    .header__map{
        position: absolute;
        right: 25px;
    }
    .menu__container.active{
        width: 100%;
        padding: 90px 24px 32px 24px;
    }
}

@media (max-width: 576px) {
    .container{
        max-width: none;
        padding: 0 15px;
    }
}